* {
  margin: 0;
  padding: 0;
}
body {
  /* background-image: url(photo.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  min-height: 100vh;
    flex-direction: column;
    display: flex;
}
.navbar {
  background-color: black;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-nav {
  width: 10%;
}
.center-nav {
  width: 50%;
}
.right-nav {
  width: 10%;
}
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 25px;
}
.nav-links li a {
  text-decoration: none;
  color: aliceblue;
}
.right-nav button {
  background-color: #d29b2d;
  color: black;
  border-style: none;
  border-radius: 5px;
  height: 40px;
  width: 70px;
  font-size: 15px;
  padding: 7px 5px;
}
.footer {
  background-color: black;
  padding: 20px 0px;
  margin-top: auto;
  border-radius: 20px;
 
}
.footer h3 {
  text-align: center;
  color: white;
  
}
.footer p {
  text-align: center;
  color: rgb(168, 168, 168);
}
